<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>gvp_dynamic_web_project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Plate server exercise to drive plate client</description>
    <display-name>PlateServer</display-name>
    <servlet-name>PlateServer</servlet-name>
    <servlet-class>info.grahamp.revivemx.sample.PlateServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlateServer</servlet-name>
    <url-pattern>/PlateServer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LocationMessageServer</display-name>
    <servlet-name>LocationMessageServer</servlet-name>
    <servlet-class>info.grahamp.revivemx.sample.LocationMessageServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LocationMessageServer</servlet-name>
    <url-pattern>/LocationMessageServer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Report</display-name>
    <servlet-name>Report</servlet-name>
    <servlet-class>info.grahamp.revivemx.sample.Report</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Report</servlet-name>
    <url-pattern>/Report</url-pattern>
  </servlet-mapping>
</web-app>